<ng-container *ngIf="user$ | async as user">
  <ng-container *ngIf="post$ | async as post; else spinner">
    <div class="container pb-3" *ngIf="!editMode">
      <div class="row">
        <div class="col-lg-8">
          <h1>
            {{ post.title }}
            <span *ngIf="user.token" class="link text-success h4" (click)="toggleEdit()"><i class="fas fa-marker"></i></span>
          </h1>
          <small *ngIf="user.token">
            <span
              [class.text-warning]="post.status == 'DRAFT'"
              [class.text-success]="post.status == 'PUBLIC'"
              [class.text-info]="post.status == 'GHOST'">
            <i class="fas fa-circle"></i> </span>
            Unique post
          </small>
          <p class="pt-2 text-justify" Markdown [data]="post.content"></p>
        </div>
        <div class="d-none d-lg-block col-lg-4">
          <div class="sticky-sidebar" [class.stuck]="stickyIsFixed">
            <img [src]="post.image" onerror="this.src='/assets/plc7.png'" alt="" class="img-fluid">
            <small class="d-block">{{ post.imageDescription }}</small>
          </div>
        </div>
      </div>
    </div>
    <app-edit *ngIf="editMode" [post]="post" [user]="user" [tag]="tag" (close)="updatePost($event, post)" (back)="back()"></app-edit>
  </ng-container>
  <ng-template #spinner>
    <div class="d-flex justify-content-center">
      <mat-spinner [strokeWidth]="2"
        [color]="'accent'"></mat-spinner>
    </div>
  </ng-template>
</ng-container>

