<div class="container pb-3">
  <div class="row">
    <div class="col-lg-8">
      <form (submit)="save(post)" class="form pb-5" [formGroup]="form">
        <div class="form-group m-0">
          <input class="form-control-none h1"
            [class.is-invalid]="hasError('title')"
            formControlName="title"
            name="title"
            placeholder="Post title">
        </div>
        <div class="form-group m-0">
          <input class="form-control-none small"
            mask='0000.00.00 00:00'
            [(ngModel)]="date"
            (ngModelChange)="dateChanges($event)"
            [ngModelOptions]="{standalone: true}"
            [dropSpecialCharacters]="false"
            name="date"
            placeholder="YYYY.MM.DD"
            [class.is-invalid]="submitAttempted && !dateValid()">
        </div>
        <div class="post-tags">
          <input class="form-control-none small"
            [(ngModel)]="tags"
            (ngModelChange)="tagsChanges($event)"
            [ngModelOptions]="{standalone: true}"
            name="date"
            placeholder="Comma-separated tags"
            [class.is-invalid]="submitAttempted && !tagsValid()">
        </div>
        <div class="form-group my-3">
          <textarea class="form-control-none pb-3 content-area"
            formControlName="content"
            name="content"
            placeholder="Type some markdown..."
            [class.is-invalid]="hasError('content')"></textarea>
        </div>
        <div class="action-footer">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-4 col-md-3 text-left">
                <a class="link text-muted" (click)="close()"><i class="fas fa-chevron-left"></i> Back</a>
              </div>
              <div class="col-8 col-md-7 col-lg-5 text-right">
                <a *ngIf="post.id" class="link mr-3 text-danger" [class.loading]="removing" (click)="remove(post)"><i class="fas fa-trash"></i> Remove</a>
                <a *ngIf="dataChanged(); else changesSaved" class="link text-success" [class.loading]="saving" (click)="save(post)"><i class="fas fa-save"></i> Save</a>
                <ng-template #changesSaved>
                  <a class="link text-muted disabled cursor-default" [class.loading]="saving" (click)="null">Changes saved</a>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="d-none d-lg-block col-lg-4">
      <div class="sticky-sidebar">
        <span class="link image-upload" (click)="photoUploader(post)"><i class="fas fa-cloud"></i></span>
        <img [src]="post.image" onerror="this.src='/assets/plc7.png'" alt="" class="img-fluid edit">
        <textarea autosize *ngIf="user.token" class="form-control-none small d-block"
          [(ngModel)]="post.imageDescription" placeholder="Some description for the image..."></textarea>
      </div>
      <div class="options">
        <h3>Post options</h3>
        <div class="d-block py-1">
          <mat-slide-toggle [(ngModel)]="statusPublic">Public</mat-slide-toggle>
        </div>
        <div class="d-block py-1">
          <mat-slide-toggle [(ngModel)]="statusGhost">Ghost</mat-slide-toggle>
        </div>
        <div class="d-block py-1">
          <input class="form-control-none small"
            [(ngModel)]="post.slug"
            [ngModelOptions]="{standalone: true}"
            name="slug"
            placeholder="Unique identifier">
        </div>
      </div>
    </div>
  </div>
</div>
